<!DOCTYPE html>
<html lang="pt-BR">

    <%- include('head'); %>

    <body class="v-dark dsn-effect-scroll dsn-cursor-effect dsn-ajax">

        <!-- Loading Page -->
        <%- include('preloader'); %>

        <!-- Menu -->
        <%- include('header'); %>

        <main class="main-root">
            <div id="dsn-scrollbar">
                <div class="main-content">
                    <div class="wrapper">
                        <!-- Slider -->
                        <div class="main-slider full-width has-horizontal p-relative w-100 h-100-v dsn-header-animation">
                            <div class="content-slider p-relative w-100 h-100 over-hidden v-dark-head">
                                <div class="bg-container  dsn-hero-parallax-img p-relative w-100 h-100">
                                    <div class="slide-inner h-100">
                                        <div class="swiper-wrapper">
                                            <div class="slide-item swiper-slide over-hidden">
                                                <div class="image-bg cover-bg w-100 h-100 " data-overlay="1" data-swiper-parallax="85%" data-swiper-parallax-scale="1.1">
                                                    <img class="cover-bg-img" src="../assets/img/03.jpg" data-dsn-src="../assets/img/03.jpg" alt="">
                                                </div>
                                                <div class="slide-content p-absolute ">
                                                    <div class="content p-relative">
                                                        <p class="max-w570 mb-15 description">
                                                            Somos a Escola Pernanbucana de Economia Criativa
                                                        </p>
                                                        <div class="d-block"></div>
                                                        <h1 class="title user-no-selection d-inline-block text-uppercase">
                                                            Bem-vindos<br> a epec
                                                        </h1>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slide-item swiper-slide over-hidden">
                                                <div class="image-bg cover-bg w-100 h-100 " data-overlay="1" data-swiper-parallax="85%" data-swiper-parallax-scale="1.1">
                                                    <img class="cover-bg-img" src="../assets/img/02.jpg" data-dsn-src="../assets/img/02.jpg" alt="">
                                                </div>
                                                <div class="slide-content p-absolute">
                                                    <div class="content p-relative">
                                                        <p class="max-w570 mb-15 description">
                                                            Formação de profissionais criativos e jovens empreendedores
                                                        </p>
                                                        <div class="d-block"></div>
                                                        <h1 class="title user-no-selection d-inline-block text-uppercase">
                                                            Conheça mais sobre <br>
                                                            nossa escola
                                                        </h1>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slide-item swiper-slide over-hidden">
                                                <div class="image-bg cover-bg w-100 h-100 " data-overlay="1" data-swiper-parallax="85%" data-swiper-parallax-scale="1.1">
                                                    <img class="cover-bg-img" src="../assets/img/01.jpg" data-dsn-src="../assets/img/01.jpg" alt="">
                                                </div>
                                                <div class="slide-content p-absolute ">
                                                    <div class="content p-relative">
                                                        <p class="max-w570 mb-15 description">
                                                            O motor para o futuro do desenvolvimento
                                                        </p>
                                                        <div class="d-block"></div>
                                                        <h1 class="title user-no-selection d-inline-block text-uppercase">
                                                            A Economia<br>
                                                            criativa
                                                        </h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dsn-slider-content p-absolute h-100 w-100 ">
                                    <div class="dsn-container  d-flex align-items-end">
                                    </div>
                                </div>
                            </div>
                            <div class="control-nav p-absolute w-100 d-flex justify-content-end  dsn-container v-dark-head">
                                <div class="prev-container">
                                    <div class="container-inner">
                                        <div class="triangle"></div>
                                        <svg class="circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <g class="circle-wrap" fill="none" stroke-width="1"
                                                stroke-linejoin="round" stroke-miterlimit="10">
                                                <circle cx="12" cy="12" r="10.5"></circle>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                                <div class="next-container">
                                    <div class="container-inner">
                                        <div class="triangle"></div>
                                        <svg class="circle" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                            <g class="circle-wrap" fill="none" stroke-width="1"
                                                stroke-linejoin="round" stroke-miterlimit="10">
                                                <circle cx="12" cy="12" r="10.5"></circle>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section class="next-page p-relative section-padding v-light">
                            <div class="bg-po-de-lapis bg-po-de-lapis-right"></div>
                            <div class="bg-circle-dotted bg-circle-dotted-right"></div>
                            <div class="container">
                                <div class="box-awards-item has-border p-relative">
                                    <div class="mosaic number background-section p-10  orange">
                                        <h5 class="has-animate-number title">
                                            Design
                                        </h5>
                                    </div>
                                    <div class="mosaic number background-section p-10  yellow">
                                        <h5 class="has-animate-number title">
                                            Sustentabilidade
                                        </h5>
                                    </div>
                                    <div class="mosaic number background-section p-10  red">
                                        <h5 class="has-animate-number title">
                                            Artes
                                        </h5>
                                    </div>
                                    <div class="mosaic number background-section p-10  orange">
                                        <h5 class="has-animate-number title">
                                            Inovação
                                        </h5>
                                    </div>
                                    <div class="mosaic number background-section p-10 red grid-r-2">
                                        <h5 class="has-animate-number title">
                                            Cultura
                                        </h5>
                                    </div>
                                    <div class="mosaic number background-section p-10 blue grid-cr-2">
                                        <div>
                                            <h5 class="has-animate-number title">
                                                Nosso Négocio
                                            </h5>
                                            <p>
                                                Usar a herança cultural do
                                                nosso estado através da
                                                “economia criativa” para
                                                gerar novas oportunidades
                                                de mudanças sociais,
                                                politicas e econômicas.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="mosaic number background-section p-10 yellow">
                                        <h5 class="has-animate-number title">
                                            Criatividade
                                        </h5>
                                    </div>
                                    <div class="mosaic number background-section blue grid-r-2 p-relative">
                                        <img class="cover-bg-img p-absolute" src="../assets/img/ bg-representatividade.jpg" alt="">
                                        <h5 class="has-animate-number title">
                                            Representa<span>tividade</span>
                                        </h5>
                                    </div>
                                    <div class="mosaic number background-section p-10 blue">
                                        <h5 class="has-animate-number title">
                                            Música
                                        </h5>
                                    </div>
                                    <div class="mosaic number background-section p-10 yellow">
                                        <h5 class="has-animate-number title">
                                            Empreende
                                            <span>dorismo</span>
                                        </h5>
                                    </div>
                                    <div class="mosaic number background-section p-10 orange">
                                        <h5 class="has-animate-number title">
                                            Colaboração
                                        </h5>
                                    </div>
                                </div>
                                <div data-dsn-animate="section">
                                    <p class="slogan dsn-text">É o povo na arte é a arte no povo!</p>
                                </div>
                            </div>
                        </section>
                        <div id="dsn-hero-title" class="intro-title">

                        <!--=== End Intro Project ===-->
                        <section class="header-course p-relative h-100 over-hidden dsn-header-animation v-dark-head">
                            <div data-dsn-ajax="img" class="p-absolute dsn-hero-parallax-img w-100 h-100 over-hidden">
                                <img class="cover-bg-img-top" src="../assets/img/creativeMediaMarketing/background.jpg" alt="">
                            </div>

                            <div class="d-flex align-items-center h-100 dsn-container py-5">
                                <div class="container">
                                    <div class="content p-relative w-100">
                                        <div class="intro-course">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="right">
                                                        <div class="course-title-cmm dsn-hero-parallax-title dsn-up" data-dsn-ajax="title">
                                                            <p class="title">Torne-se um
                                                            <span>social media<br>
                                                            completo</span>
                                                            com este curso! </p>
                                                        </div>                    
                                                        <img class="right dsn-up" src="../assets/img/creativeMediaMarketing/logo-cmm.svg" alt="">                                                        
                                                        <div class="text dsn-up">
                                                            <p>Estruture você mesmo</p>
                                                            <span class="line-bg-right"><p>Campanhas de tráfego pago!</p></span>
                                                        </div>                                                            
                                                        <div class="button-box d-flex align-items-center">
                                                            <div>
                                                                <a href="#" class="mt-30 effect-ajax dsn-button p-relative">
                                                                    <span class="dsn-border-rdu"></span>Comprar curso
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="left h-100">
                                                        <div class="img-ai-fb">
                                                            <img src="../assets/img/creativeMediaMarketing/logo-meta-ai.svg" alt="">
                                                        </div>
                                                        <div class="d-flex justify-content-center text-center align-items-center">
                                                            <div class="hvr-bob">
                                                                <div class="icon d-flex justify-content-center  mb-15">
                                                                    <img src="../assets/img/creativeMediaMarketing/icon-palestra.svg" alt="">
                                                                </div>
                                                                <div class="service-description">
                                                                    <h4>Presencial</h4>
                                                                </div>
                                                            </div>
                                                            <div class="hvr-bob">
                                                                <div class="icon d-flex justify-content-center mx-5 mb-5">
                                                                    <img src="../assets/img/creativeMediaMarketing/icon-adobe.svg" alt="">
                                                                </div>
                                                                <div class="service-description">
                                                                    <h4>Instrutor<br>certificado</h4>
                                                                </div>
                                                            </div>
                                                            <div class="hvr-bob">
                                                                <div class="icon d-flex justify-content-center mb-15">
                                                                    <img src="../assets/img/creativeMediaMarketing/icon-certificado.svg" alt="">
                                                                </div>
                                                                <div class="service-description">
                                                                    <h4>Certificado de<br>conclusão</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="buttom-ementa p-sticky mt-30">
                                                            <div class="d-flex justify-content-center mb-5">
                                                                <img src="../assets/img/creativeMediaMarketing/icon-download.svg" alt="">
                                                            </div>
                                                            <a target="_blank" href="#" class="visit-site">
                                                                <span class="inner-visit d-flex align-items-center">
                                                                    <span class="text text-uppercase">Baixar ementa</span>                    
                                                                    <span class="icon">
                                                                        <svg viewBox="0 0 40 40">
                                                                            <polyline class="path"
                                                                                points="14.6 17.45 20 22.85 25.4 17.45">
                                                                            </polyline>
                                                                        </svg>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <%- include('footer'); %>
                </div>
            </div>
        </main>
        <!-- Scroll Right Page To Top Page -->
        <%- include('scroll')%>
        <!-- Cursor Page -->
        <%- include('cursor')%>
        <!-- paginate-right-page -->
        <div class="dsn-paginate-right-page"></div>
        <!-- Line left & right with creative page -->
        <div class="line-border-style w-100 h-100"></div>
        <!-- Optional JavaScript -->
        <script src="../assets/js/jquery-3.1.1.min.js"></script>
        <script src="../assets/js/plugins.min.js"></script>
        <script src="../assets/js/dsn-grid.min.js"></script>
        <script src="../assets/js/custom.js"></script>
    </body>
</html>